**/.history
**/node_modules
**/dist
**/build
**/tmp
**/coverage
**/.svelte-kit

pnpm-lock.yaml
package-lock.json
yarn.lock
pnpm-workspace.yaml
.pnpm-store

vite.config.js*
webpack.config.js*
webpack-*.js
.eslintrc*
.prettierrc*

.env
.env.*
!.env.example
